.container {
  width: 300px;
  padding: 0px;
}
.img {
  object-fit: contain;
  transition: all 0.5s ease-in;
}

.img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
button {
  padding: 0.6rem;
  border-radius: 5px;
  margin: 0.3rem;
}
